<ion-view title="About" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <img src="img/logo_cwmx.2.gif" style="width: 50%">
        </div>
        <div id="about-markdown3" style="color:#000000;">
            <p>This is an experimental application by consultware.The application is intended to be used along an arduino and a stripe of leds.</p>
        </div>
    </ion-content>
</ion-view>