<ion-view title="Neopixel wireless" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div id='colorwheel'>
  <div class='frame'>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
    <div class='colors'>
      <div class='color'></div>
      <div class='color'></div>
      <div class='color'></div>
    </div>
  </div>
</div>
<div id='info'>
  <div class='info-bg'></div>
  <div class='arrow'></div>
  <div class='inset'>
    <div class='triggers'>
      <button class='trigger prev fa fa-chevron-down'></button>
      
      <button class='trigger next fa fa-chevron-up'></button>
    </div>
    <form class="list">
            <label class="item item-input" name="amount">
                <span class="input-label">Number of leds</span>
                <input type="tel" placeholder="ex. 30" ng-model="stripe.ledAvailable" ng-change="updateLedNumber()">
            </label>
            <ion-toggle toggle-class="toggle-positive">Change all leds at once</ion-toggle ng-model="stripe.all">
            <ion-item class="range range-positive" >LED number
                <input type="range" value="15" min="1" max="30" name="ledn" ng-model="stripe.ledNumber" ng-change="ledNumberChanged()">
            </ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="stripe.onoff" ng-click="onOnOff()">Turn on/Off</ion-toggle>
        </form>
  </div>

</div>
    </ion-content>
</ion-view>