<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.neopixelWIFI" menu-close="">Neopixel WIFI</ion-item>
                <ion-item ui-sref="menu.arduinoSettings" menu-close="">Arduino Settings</ion-item>
                <ion-item ui-sref="menu.colorWheel" menu-close="">Color wheel</ion-item>
                <ion-item ui-sref="menu.about" menu-close="">About</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>