<ion-view title="Neopixel WIFI" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <div style="margin: 0 auto; width:200px">
       <img src="img/arduino.png">
       </div>

        <div id="neopixelWIFI-markdown1" style="color:#000000;">
            <p>This application is made for Arduino enthusiasts and neopixel owners. What this application does is to connect to your arduino via WIFI and change the current color displayed.</p>
            <div style="margin: 0 auto; width:48px">
            <img src="img/LED Diode-48.png" >
            </div>
            <p>First you need to configure your arduino IP in the menu, then you can go to the color wheel and set the color to display.</p>
            <p>You might need some help creating a sketch for your arduino, which you can download from the next repository.</p>
        </div>
        <button class="button button-block button-positive" onclick="window.open('https://github.com/beckmx/Neopixel-Wifi', '_system', 'location=yes'); return false;">
  Go to github repository
</button>
    </ion-content>
</ion-view>