@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

#colorwheel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 500px;
  margin: auto;
}
#colorwheel .frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#colorwheel .frame .colors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 200px;
  margin: auto;
  opacity: .3;
}
#colorwheel .frame .colors.active {
  opacity: 1;
}
#colorwheel .frame .colors:nth-child(1) {
  -webkit-transform: rotate(30deg) translateY(-150px);
          transform: rotate(30deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(2) {
  -webkit-transform: rotate(60deg) translateY(-150px);
          transform: rotate(60deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(3) {
  -webkit-transform: rotate(90deg) translateY(-150px);
          transform: rotate(90deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(4) {
  -webkit-transform: rotate(120deg) translateY(-150px);
          transform: rotate(120deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(5) {
  -webkit-transform: rotate(150deg) translateY(-150px);
          transform: rotate(150deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(6) {
  -webkit-transform: rotate(180deg) translateY(-150px);
          transform: rotate(180deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(7) {
  -webkit-transform: rotate(210deg) translateY(-150px);
          transform: rotate(210deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(8) {
  -webkit-transform: rotate(240deg) translateY(-150px);
          transform: rotate(240deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(9) {
  -webkit-transform: rotate(270deg) translateY(-150px);
          transform: rotate(270deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(10) {
  -webkit-transform: rotate(300deg) translateY(-150px);
          transform: rotate(300deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(11) {
  -webkit-transform: rotate(330deg) translateY(-150px);
          transform: rotate(330deg) translateY(-150px);
}
#colorwheel .frame .colors:nth-child(12) {
  -webkit-transform: rotate(360deg) translateY(-150px);
          transform: rotate(360deg) translateY(-150px);
}
#colorwheel .frame .colors .color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 75px;
  height: 75px;
  margin: auto;
  border-radius: 100%;
}
#colorwheel .frame .colors .color:nth-child(2) {
  top: 100px;
  width: 50px;
  height: 50px;
}
#colorwheel .frame .colors .color:nth-child(3) {
  top: 175px;
  width: 25px;
  height: 25px;
}
#colorwheel .frame #color_1 .color:nth-child(1) {
  background: #FD6631;
}
#colorwheel .frame #color_1 .color:nth-child(2) {
  background: #fe946f;
}
#colorwheel .frame #color_1 .color:nth-child(3) {
  background: #fec2ad;
}
#colorwheel .frame #color_2 .color:nth-child(1) {
  background: #FC880F;
}
#colorwheel .frame #color_2 .color:nth-child(2) {
  background: #fdac57;
}
#colorwheel .frame #color_2 .color:nth-child(3) {
  background: #fecf9f;
}
#colorwheel .frame #color_3 .color:nth-child(1) {
  background: #FEAE1B;
}
#colorwheel .frame #color_3 .color:nth-child(2) {
  background: #fec65f;
}
#colorwheel .frame #color_3 .color:nth-child(3) {
  background: #ffdfa4;
}
#colorwheel .frame #color_4 .color:nth-child(1) {
  background: #FFD426;
}
#colorwheel .frame #color_4 .color:nth-child(2) {
  background: #ffe167;
}
#colorwheel .frame #color_4 .color:nth-child(3) {
  background: #ffeea8;
}
#colorwheel .frame #color_5 .color:nth-child(1) {
  background: #A5DE37;
}
#colorwheel .frame #color_5 .color:nth-child(2) {
  background: #c0e873;
}
#colorwheel .frame #color_5 .color:nth-child(3) {
  background: #dbf2af;
}
#colorwheel .frame #color_6 .color:nth-child(1) {
  background: #49E845;
}
#colorwheel .frame #color_6 .color:nth-child(2) {
  background: #80ef7d;
}
#colorwheel .frame #color_6 .color:nth-child(3) {
  background: #b6f6b5;
}
#colorwheel .frame #color_7 .color:nth-child(1) {
  background: #55DAE1;
}
#colorwheel .frame #color_7 .color:nth-child(2) {
  background: #88e5ea;
}
#colorwheel .frame #color_7 .color:nth-child(3) {
  background: #bbf0f3;
}
#colorwheel .frame #color_8 .color:nth-child(1) {
  background: #1B9AF7;
}
#colorwheel .frame #color_8 .color:nth-child(2) {
  background: #5fb8f9;
}
#colorwheel .frame #color_8 .color:nth-child(3) {
  background: #a4d7fc;
}
#colorwheel .frame #color_9 .color:nth-child(1) {
  background: #7B72E9;
}
#colorwheel .frame #color_9 .color:nth-child(2) {
  background: #a39cf0;
}
#colorwheel .frame #color_9 .color:nth-child(3) {
  background: #cac7f6;
}
#colorwheel .frame #color_10 .color:nth-child(1) {
  background: #DB49D8;
}
#colorwheel .frame #color_10 .color:nth-child(2) {
  background: #e680e4;
}
#colorwheel .frame #color_10 .color:nth-child(3) {
  background: #f1b6ef;
}
#colorwheel .frame #color_11 .color:nth-child(1) {
  background: #ED4694;
}
#colorwheel .frame #color_11 .color:nth-child(2) {
  background: #f27eb4;
}
#colorwheel .frame #color_11 .color:nth-child(3) {
  background: #f8b5d4;
}
#colorwheel .frame #color_12 .color:nth-child(1) {
  background: #FF4351;
}
#colorwheel .frame #color_12 .color:nth-child(2) {
  background: #ff7b85;
}
#colorwheel .frame #color_12 .color:nth-child(3) {
  background: #ffb4b9;
}

#info {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
}
#info .info-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  z-index: 0;
}
#info .arrow {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-width: 0 15px 15px;
  border-style: solid;
  border-color: transparent;
  opacity: .8;
}
#info .inset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  margin: 0 auto;
  z-index: 1;
}
#info .inset .triggers {
  width: 300px;
  height: 40px;
  padding: 0 30px;
  margin: 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#info .inset .triggers .dot {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 0 3px #FFF;
}
#info .inset .triggers .dot:before, #info .inset .triggers .dot:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  box-shadow: 0 0 0 3px #FFF;
}
#info .inset .triggers .dot:before {
  width: 24px;
  height: 24px;
}
#info .inset .triggers .dot:after {
  width: 12px;
  height: 12px;
  background: #FFF;
  box-shadow: none;
}
#info .inset .triggers .trigger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 100%;
  background: transparent;
  box-shadow: 0 0 0 3px #FFF;
  -webkit-transition: background .15s ease;
  transition: background .15s ease;
  font-size: 12pt;
  color: #FFF;
  line-height: 40px;
  text-align: center;
}
#info .inset .triggers .trigger:hover {
  background: rgba(255, 255, 255, 0.3);
}
#info .inset .triggers .trigger.prev {
  float: left;
}
#info .inset .triggers .trigger.next {
  float: right;
}
#info .inset .values {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  font-smoothing: antialiased;
}
#info .inset .values li {
  margin: 0 10px;
}
#info .inset .values li i {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto 15px;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 0 3px #FFF;
}
#info .inset .values li i:before, #info .inset .values li i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  box-shadow: 0 0 0 3px #FFF;
}
#info .inset .values li i:before {
  width: 24px;
  height: 24px;
}
#info .inset .values li i:after {
  width: 12px;
  height: 12px;
  background: #FFF;
  box-shadow: none;
}
#info .inset .values li.big i:before, #info .inset .values li.big i:after {
  opacity: .3;
}
#info .inset .values li.medium i {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
#info .inset .values li.medium i:after {
  opacity: .3;
}
#info .inset .values li.small i {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
#info .inset .values li.small i:before {
  opacity: .3;
}
#info .inset .values li span {
  height: 30px;
  display: block;
  line-height: 30px;
  text-transform: uppercase;
}
